.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 18px 40px -12px rgba(92, 97, 141, 0.25);
  margin: auto;
  text-align: center;
  padding: 50px 20px;
}
.login form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.login h3 {
  font-weight: bold;
  padding: 15px 0 0 0;
}
.login p {
  font-weight: normal;
  color: #838383;
}
.login form input {
  width: 100%;
  height: 45px;
  font-weight: 300;
  padding: 0 15px;
  border: 1px solid #a2a6b0;
  outline: none;
  font-size: 1em;
  border-radius: 25px;
  align-self: center;
  margin: 10px 0;
}
.login form button {
  width: auto;
  padding: 0 15px;
  background-color: #41d050;
  height: 45px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #fff;
  margin: 20px 0 10px 0;
}
.bottom-text {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  .login {
    width: 90%;
  }
}
